# Sesiones y configuración local de R/RStudio
.Rhistory
.RData*
.Ruserdata
.Rproj.user/
.positai/

# Datos pesados
data/
*.zip
*.csv
*.rds

# Registros generados durante las ejecuciones
outputs/logs/*
!outputs/logs/.gitkeep
.positai
#Carpetas que no quiero añadir al repositorio
outputs/analysis/
outputs/archive/
outputs/figures/
outputs/tables/
outputs/logs/
outputs/models/
outputs/reports/
report/
docs/
